<ion-view title="Help">
    <ion-content class="helpPage" ng-class="selectedTeam.class">
        <div class="bottomSection helpBottom">
            <h2>How to use this app</h2>
            <p>There are two types of feeds available to you. You can view either news stories from a range of multiple different sources such as BBC, Sky Sports and Talksport. The other type of feed is social feeds. These display Facebook, Twitter, and Instagram posts from your selected team.</p>
            <p>To select your team, open the menu, and go to the settings page. From there you can select which team you want to see news for. As well as selecting a team, you can select a filter which will be applied to the news feeds page, showing only stories relating to that filter.</p>
            <h2>Loading more stories</h2>
            <p>To load more news stories on the news feed, simply pull the down the page, which will refresh the stories and load 5 more articles.</p>
            <h2>Refresh social feed</h2>
            <p>To refresh the social feed, pull down the page and wait until it loads.</p>
            <h2>Image feed</h2>
            <p>To change your social feed to an image-only feed, simply slide the 'Image feed' slider to on.</p>
            <h2>Problems?</h2>
            <p>If you encounter any problems, send me an e-mail at ritchie@ritchievincent.co.uk</p>
            <h2>Feed sources</h2>
            <p>Facebook, Twitter, Instagram</p>
            <p>BBC Sport, Yahoo Sport, Talksport, Sky Sports, Telegraph, Goal, Daily Mail, Teamtalk, Reuters, Supersport, EPL feeds, Clubcall, ESPN, 90Min</p>
            <p class="copyrightText">All information contained is copyright of their respective sources.</p>
            <h2>Team image sources</h2>
            <p>https://hdlogo.wordpress.com/2011/08/20/english-premier-league-hd-logos-2014-15/</p>
            <p class="copyrightText">All team logos are copyright of their respective teams.</p>
        </div>
    </ion-content>
</ion-view>