<ion-view view-title="FootFeeds">
    <ion-content ng-class="selectedTeam.class" class="homePage">
        <div class="topSection homeTop">
            <div class="row">
                <div class="col col-33 col-offset-33">
                    <img src="../img/logo1.png" alt="App logo">
                </div>
            </div>
            <h1>FootFeeds</h1>
        </div>
        <div class="bottomSection homeBottom">
            <h2>Welcome to FootFeeds!</h2>
            <p><span class="highlight">THE</span> best place to keep up with all the latest news, and social media events for your favourite Barclays Premier League football team.</p>
        </div>
    </ion-content>
</ion-view>