<ion-view title="News feeds">
    <ion-content class="newsPage" ng-class="selectedTeam.class">
        <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down"></ion-refresher>
        <div class="topSection newsTop">
            <div class="item item-divider">
                <div class="row teamImage">
                    <img src="{{selectedTeam.image}}" alt="Selected team's logo">
                </div>
                <h1>{{selectedTeam.value}}</h1>
                <h2>Selected filter: {{selectedFilter}}</h2>
            </div>
        </div>
        <div class="bottomSection newsBottom">
            <ul class="list">
                <li class="item" ng-repeat="feed in feeds | filter:filterText">
                    <a href="#" ng-click="openLink('{{feed.link}}')">
                        <h3 class="newsTitle">{{feed.title}}</h3>
                        <p class="newsContent">{{feed.contentSnippet}}</p>
                        <p class="newsDate">{{feed.publishedDate | limitTo:16}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>