<ion-view title="News feeds">
    <ion-content class="newsPage" ng-class="selectedTeam.class">
        <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down"></ion-refresher>
        <div class="topSection newsTop">
            <div class="row teamImage">
                <img src="{{selectedTeam.image}}" alt="Selected team's logo">
            </div>
            <h1>{{selectedTeam.value}}</h1>
        </div>
        <div class="bottomSection newsBottom">
            <div class="card" ng-repeat="feed in feeds | filter:filterText" > <!--ng-click="hideCards($event)"-->
                <div class="item item-divider">
                    <p class="newsTitle">{{feed.title}}</p>
                </div>
                <a href="#" ng-click="openLink('{{feed.link}}')">
                    <div class="item item-text-wrap">
                        <p class="newsContent">{{feed.contentSnippet}}</p>
                    </div>
                </a>
                <div class="item item-divider item-footer">
                    <p class="newsDate">{{feed.publishedDate}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>