<ion-view view-title="Social feeds">
    <ion-content class="socialPage" ng-class="selectedTeam.class">
        <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-android-arrow-down"></ion-refresher>
        <div class="topSection socialTop header">
            <div class="row teamImage">
                <img src="{{selectedTeam.image}}" alt="Selected team's logo">
            </div>
            <h1>{{selectedTeam.value}}</h1>
        </div>
        <div class="socialBottom">
            <h2>Image feed</h2>
            <div class="switch">
                <label>
                    Off
                    <input type="checkbox" ng-model="isChecked">
                    <span class="lever"></span> On
                </label>
            </div>
        </div>
        <div class="social-feed-container" ng-class="{noImage : isChecked}"></div>
    </ion-content>
</ion-view>